<div class="box wide">
	<div class="legend">about</div>
	<p>this is a link aggregator for the <a href="https://tildeverse.org">tildeverse</a>.</p>
    <div class="box">
	<h2> Rules </h2>
	<ol>
		<li>Political links are not allowed, unless directly related technology or tilde issues,ie</li>
			<ul>
				<li> Net Neutrality</li>
				<li> Privacy</li>
			</ul>
		<li>Please limit content to PG-13, mild R rated</li>
	</ol>
</div>
