<div class="box wide">
	<div class="legend">chat</div>
	<a href="https://tilde.chat">tildeverse irc network here</a><br>
	<a href="https://web.tilde.chat">webchat here</a>

	<p>new posts are mirrored to tilde.chat in #meta and #tildeverse</p>
	<p>comments are mirrored to #tildeverse</p>
</div>
